@media screen and (max-width: 768px) {
    .changeTheme {
        top: 2.4rem
    }

    main {
        grid-template-columns: 1fr;
    }

    .timer {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 350px) {
    .timer div {
        text-align: center;
    }

    .timer div span {
        font-size: 10.6rem;
    }

    .buttons-box {
        gap: 3rem;
    }

    .cards-container {
        gap: 2.2rem;
    }
}